[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
ipdb = "*"

[packages]
requests = "*"
docopts = "*"
pyyaml = "*"
python-dotenv = "*"
yahoo-oauth = "*"
yahoo-fantasy-api = "*"
